img {
	width: 200px;
}

input,
button,
.commentbox,
.searchbar {
	display: flex;
	justify-content: center;
}

h1 {
	font-family: Chalkduster, fantasy;
}

.commentbox,
.searchbar {
	width: 100%;
	height: auto;
}

/*.searchbar {
	height: 20px;
}
*/
