img {
	width: 200px;
}

.votePhotos {
	width: 70px;
	height: 95px;
}

input,
button,
.commentbox,
.searchbar {
	display: flex;
	justify-content: center;
}

h1,
.monthfont {
	font-family: Chalkduster, fantasy;
}

.commentbox,
.searchbar {
	width: 100%;
	height: auto;
}

.topBar {
	width: 350px;
	height: auto;
}

/*.searchbar {
	height: 20px;
}
*/

.BarChart {
	margin: 50px 0px;
}

.votingContainer {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	background-color: white;
}

.cardlist {
	background-color: white;
}

.votingLeftColumn {
	margin: 50px 0 10px 20px;
	flex: 0 0 100px;
}

.scroll {
	background-image: linear-gradient(
			rgba(100, 0, 0, 0.3),
			rgba(100, 0, 0, 0.3)
		),
		url('./photos/rainbowbackdrop.jpg');
	background-size: cover;
}
